#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

build: lib/topoviewer.jar

lib/topoviewer.jar:
	ant


clean:
	rm -rf lib/

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	cp lib/topoviewer.jar debian/awds-topoviewer/usr/share/java/awds-topoviewer.jar
	cp debian/awds-topoviewer.sh debian/awds-topoviewer/usr/bin/awds-topoviewer
	chmod 755 debian/awds-topoviewer/usr/bin/awds-topoviewer

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs TG*.txt
#	dh_installexamples
#	dh_install --sourcedir=debian/tmp
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installman doc/start_awds.8
#	dh_link
#	dh_strip
#	dh_compress
#	dh_fixperms
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb 

# Build architecture-dependent files here.
binary-arch: build install


binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 

