Source: ns2-gea
Section: utils
Priority: optional
Maintainer: Andre Herms <aherms@ivs.cs.uni-magdeburg.de>
Build-Depends: debhelper (>= 4.0.0), tclcl-dev, libotcl-dev, tcl8.4-dev, tk8.4-dev, libgea3-dev (>= 2.2), libgsl0-dev 
Standards-Version: 3.7.2

Package: ns2-gea
Architecture: any
Depends: tk8.4, libotcl1, tclcl, libgea3 (>= 2.2), ${shlibs:Depends}, ${misc:Depends}
Description: The network simulator NS-2 with the GEA extension
 This package contains the binary of the popular network simulator NS-2.
 It was enriched with the GEA extension that allow to run protocols 
 developed with GEA to be used inside the simulator. 

